/*----Efectos generales---*/

@-webkit-keyframes bg {
    0% {
        background-image: url(../img/bg1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        z-index: 2;
    }
    24% {
        background-image: url(../img/bg1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        z-index: 2;
    }
    25% {
        background-image: url(../img/bg2.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        z-index: 2;
    }
    49% {
        background-image: url(../img/bg2.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        z-index: 2;
    }
    50% {
        background-image: url(../img/bg3.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        z-index: 2;
    }
    74% {
        background-image: url(../img/bg3.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        z-index: 2;
    }
    75% {
        background-image: url(../img/bg4.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        z-index: 2;
    }
    100% {
        background-image: url(../img/bg4.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        z-index: 2;
    }
}

div#header {
    -webkit-animation-name: bg;
    -webkit-animation-duration: 45s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes titulo1 {
    0% {
        right: 12400px;
        opacity: 0;
    }
    5% {
        right: 11035px;
        opacity: 1;
    }
    15% {
        right: 10675px;
        opacity: 1;
    }
    20% {
        right: 9300px;
        opacity: 0;
    }
    25% {
        right: 9300px;
        opacity: 0;
    }
    30% {
        right: 7920px;
        opacity: 1;
    }
    40% {
        right: 7610px;
        opacity: 1;
    }
    45% {
        right: 6200px;
        opacity: 0;
    }
    50% {
        right: 6200px;
        opacity: 0;
    }
    55% {
        right: 4835px;
        opacity: 1;
    }
    65% {
        right: 4405px;
        opacity: 1;
    }
    70% {
        right: 3100px;
        opacity: 0;
    }
    75% {
        right: 3100px;
        opacity: 0;
    }
    85% {
        right: 1700px;
        opacity: 1;
    }
    95% {
        right: 1395px;
        opacity: 1;
    }
    100% {
        right: 0px;
        opacity: 0;
    }
}

div#i1 div#h1 div#titulo1 ul li{
    -webkit-animation-name: titulo1;
    -webkit-animation-duration: 17s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes titulo2{
    0% {
        right: -1550px;
        opacity: 0;
    }
    5% {
        right: 1350px;
        opacity: 1;
    }
    15% {
        right: 1760px;
        opacity: 1;
    }
    20% {
        right: 3100px;
        opacity: 0;
    }
    25% {
        right: 3100px;
        opacity: 0;
    }
    30% {
        right: 4505px;
        opacity: 1;
    }
    40% {
        right: 4825px;
        opacity: 1;
    }
    45% {
        right: 6200px;
        opacity: 0;
    }
    50% {
        right: 6200px;
        opacity: 0;
    }
    55% {
        right: 7500px;
        opacity: 1;
    }
    65% {
        right: 7935px;
        opacity: 1;
    }
    70% {
        right: 9300px;
        opacity: 0;
    }
    75% {
        right: 9300px;
        opacity: 0;
    }
    85% {
        right: 10600px;
        opacity: 1;
    }
    95% {
        right: 11090px;
        opacity: 1;
    }
    100% {
        right: 12400px;
        opacity: 0;
    }
    
}

div#i1 div#h1 div#titulo2 ul li{
    -webkit-animation-name: titulo2;
    -webkit-animation-duration: 17s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes color1 {
     0% {
        color: black;
    }
    5% {
       color: black;
    
    }
    15% {
       color: #ae0d42;
    }
    20% {
       color: #ae0d42;
    
    }
    25% {
       color: black;
    
    }
    30% {
       color: black;
    
    }
    40% {
       color: #ae0d42;
    
    }
    45% {
        color: #ae0d42;   
    
    }
    50% {
        color: black;
    }
    55% {
         color: black;
    }
    65% {
        color: #ae0d42;
    }
    70% {
        color: #ae0d42;
    }
    75% {
        color: black;
    }
    85% {
        color: black;
    }
    95% {
        color: #ae0d42;
    }
    100% {
        color: #ae0d42;
    }
    
}

div#container div#header div#i1 div#h1 div#titulo1 span.color1 {
    -webkit-animation-name: color1;
    -webkit-animation-duration: 17s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
}

div#container div#header div#i1 div#h1 div#titulo2 span.color1 {
    -webkit-animation-name: color1;
    -webkit-animation-duration: 17s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes color2 {
    0% {
        color: #ae0d42;
    }
    5% {
       color: #ae0d42;
    
    }
    15% {
       color: black;
    }
    20% {
       color: black;
    
    }
    25% {
       color: #ae0d42;
    
    }
    30% {
       color: #ae0d42;
    
    }
    40% {
       color: black;
    
    }
    45% {
        color:black;
    
    }
    50% {
        color: #ae0d42;
    }
    55% {
         color: #ae0d42;
    }
    65% {
        color: black;
    }
    70% {
        color: black;
    }
    75% {
        color: #ae0d42;
    }
    85% {
        color: #ae0d42;
    }
    95% {
        color: black;
    }
    100% {
        color: black;
    }
}

div#container div#header div#i1 div#h1 div#titulo1 span.color2 {
    -webkit-animation-name: color2;
    -webkit-animation-duration: 17s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
}

div#container div#header div#i1 div#h1 div#titulo2 span.color2 {
    -webkit-animation-name: color1;
    -webkit-animation-duration: 17s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
}



/*---- Efectos Index ----*/

@-webkit-keyframes zumbido {
    0% {
        left: 0px;
        top: 0px;
    }
    10% {
        left: 2px;
        top: 2px;
    }
    
    20% {
        right: 2px;
        bottom: 2px;
    }
    30% {
        right: 0px;
        bottom: 0px;
    }
    100%
    {
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
    }
}


div#so ul#so li {
    -webkit-animation-name:zumbido;
    -webkit-animation-duration: 0.01s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}


@-webkit-animation prueba {
    0% {
        z-index: 1000;
    }
    50% {
        z-index: 0;
    }
}

div#video {
    -webkit-animation-name: prueba;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
}

/*-----Efectos Información---->







/*------Efectos Trabajos---->
