div#body {
    height: 900px;
}

div#formulario {
    width: 45%;
    height: 500px;
    position: relative;
    top: 130px;
    left: 100px;
    float: left;    
}

div#inforegistro {
    width: 45%;
    height: 70px;
    font-family: Aspex;
    font-weight: bolder;
    text-align: justify;
    position: relative;
    top: 100px;
    left: 100px;
    letter-spacing: 1px;
    line-height: 25px;
    
}

form#registro {
    font-family: Heavitas;
    font-size: 15px;
}

div#imagen {
    float: right;
    width: 25%;
    height: 700px;
    position: relative;
    right: 200px;
    background-image: url(../img/formulario.png);
    background-repeat: no-repeat;
    background-size: contain;
    
    
    
}