* {
    margin: 0px;
    padding: 0px;
}



div#header {
    width: 100%;
    height: 694px;
    /*background-color: aqua;
    position: relative;
    z-index: 2;*/
}


div#fijo {
    width: 100%;
    height: 70px;
    position: relative;
    position: fixed;
    z-index: 1;
    background-color: #3b3b3b;
}

div#logof {
    width: 25%;
    height: 120px;
    float: left;
    position: relative;
    bottom: 45px;
    
}

div#jsf {
    width: 60%;
    height: 100px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat; 
    float: left;
    position: relative;
    top: 30px;
}

div#ANf {
    width: 20%;
    height: 50px;
    font-family: morningtype;
    font-size: 25px;
    float: left;
    position: relative;
    top: 65px;
    right:160px;
}

div#JSf {
    width: 20%;
    height: 70px;
    font-size: 30px;
    font-weight: 800;
    font-family: morningtype;
    float: left;
    position: relative;
    top: 60px;
    right:140px;
    text-shadow: 5px 5px 50px #FFFFFF, -5px -5px 50px #FFFFFF;
}

div#breadcrumf ul {
    float: right;
    list-style: none;
    width: 50%;
    height: 40px;
    text-align: center;
    position: relative;
    top: 15px;
}

div#breadcrumf ul li {
    width: 20%;
    height: 40px;
    margin-right: 10px;
    float: left;
    position: relative;
    left: 55px;
}

div#breadcrumf ul li a {
    width: 100%;
    height: 30px;
    font-family: Heavitas;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    display: block;
    text-decoration: none;
    padding-top: 10px;
    border-radius: 20px;
    -webkit-transition: background 2s;
}

div#breadcrumf ul li a:hover {
   background: rgba(233,0,78,1);
background: -moz-linear-gradient(top, rgba(233,0,78,1) 0%, rgba(233,0,78,1) 53%, rgba(230,62,121,1) 71%, rgba(255,102,156,1) 82%, rgba(247,163,194,1) 97%, rgba(247,163,194,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(233,0,78,1)), color-stop(53%, rgba(233,0,78,1)), color-stop(71%, rgba(230,62,121,1)), color-stop(82%, rgba(255,102,156,1)), color-stop(97%, rgba(247,163,194,1)), color-stop(100%, rgba(247,163,194,1)));
background: -webkit-linear-gradient(top, rgba(233,0,78,1) 0%, rgba(233,0,78,1) 53%, rgba(230,62,121,1) 71%, rgba(255,102,156,1) 82%, rgba(247,163,194,1) 97%, rgba(247,163,194,1) 100%);
background: -o-linear-gradient(top, rgba(233,0,78,1) 0%, rgba(233,0,78,1) 53%, rgba(230,62,121,1) 71%, rgba(255,102,156,1) 82%, rgba(247,163,194,1) 97%, rgba(247,163,194,1) 100%);
background: -ms-linear-gradient(top, rgba(233,0,78,1) 0%, rgba(233,0,78,1) 53%, rgba(230,62,121,1) 71%, rgba(255,102,156,1) 82%, rgba(247,163,194,1) 97%, rgba(247,163,194,1) 100%);
background: linear-gradient(to bottom, rgba(233,0,78,1) 0%, rgba(233,0,78,1) 53%, rgba(230,62,121,1) 71%, rgba(255,102,156,1) 82%, rgba(247,163,194,1) 97%, rgba(247,163,194,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9004e', endColorstr='#f7a3c2', GradientType=0 );
}

div#logo {
    width: 25%;
    height: 250px;
    float: left;
    
}

div#js {
    width: 60%;
    height: 250px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat; 
    float: left;
}

div#AN {
    width: 30%;
    height: 50px;
    font-family: morningtype;
    font-size: 45px;
    float: left;
    position: relative;
    top: 65px;
    right: 40px;
}

div#JS {
    width: 40%;
    height: 70px;
    font-size: 70px;
    font-weight: 800;
    font-family: morningtype;
    float: left;
    position: relative;
    top: 45px;
    right: 40px;
    text-shadow: 5px 5px 50px #FFFFFF, -5px -5px 50px #FFFFFF;
}

div#breadcrum ul {
    float: right;
    list-style: none;
    width: 50%;
    height: 40px;
    text-align: center;
    position: relative;
    top: 80px;
}

div#breadcrum ul li {
    width: 20%;
    height: 40px;
    margin-right: 10px;
    float: left;
    position: relative;
    left: 55px;
}

div#breadcrum ul li a {
    width: 100%;
    height: 30px;
    font-family: Heavitas;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    display: block;
    text-decoration: none;
    padding-top: 10px;
    border-radius: 20px;
    -webkit-transition: background 2s;
}

div#breadcrum ul li a:hover {
   background: rgba(233,0,78,1);
background: -moz-linear-gradient(top, rgba(233,0,78,1) 0%, rgba(233,0,78,1) 53%, rgba(230,62,121,1) 71%, rgba(255,102,156,1) 82%, rgba(247,163,194,1) 97%, rgba(247,163,194,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(233,0,78,1)), color-stop(53%, rgba(233,0,78,1)), color-stop(71%, rgba(230,62,121,1)), color-stop(82%, rgba(255,102,156,1)), color-stop(97%, rgba(247,163,194,1)), color-stop(100%, rgba(247,163,194,1)));
background: -webkit-linear-gradient(top, rgba(233,0,78,1) 0%, rgba(233,0,78,1) 53%, rgba(230,62,121,1) 71%, rgba(255,102,156,1) 82%, rgba(247,163,194,1) 97%, rgba(247,163,194,1) 100%);
background: -o-linear-gradient(top, rgba(233,0,78,1) 0%, rgba(233,0,78,1) 53%, rgba(230,62,121,1) 71%, rgba(255,102,156,1) 82%, rgba(247,163,194,1) 97%, rgba(247,163,194,1) 100%);
background: -ms-linear-gradient(top, rgba(233,0,78,1) 0%, rgba(233,0,78,1) 53%, rgba(230,62,121,1) 71%, rgba(255,102,156,1) 82%, rgba(247,163,194,1) 97%, rgba(247,163,194,1) 100%);
background: linear-gradient(to bottom, rgba(233,0,78,1) 0%, rgba(233,0,78,1) 53%, rgba(230,62,121,1) 71%, rgba(255,102,156,1) 82%, rgba(247,163,194,1) 97%, rgba(247,163,194,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9004e', endColorstr='#f7a3c2', GradientType=0 );
}

div#i1 {
    width: 75%;
    height: 460px;
    margin: 0 auto;
    position: relative;
    top: 250px;
    
}

div#h1 {
    margin: 0 auto;
    width: 90%;
    height: 110px;
    text-align: center;
    font-family: rabbid;
    font-size: 75px;
    font-weight: bolder;    
}

div#titulo1 {
    width: 1550px;
    height: 75px;
    position: relative;
    bottom: 280px;
    right: 245px;
    overflow: hidden;
}

div#titulo1 ul {
    width: 14000px;;
    height: 75px;
    list-style: none;
    text-align: center;
    position: relative;
    
    
}

div#titulo1 li {
    width: 1550px;
    height: 75px;
    text-align: center;
    float: left;
    position: relative;
    top: 15px;
}

div#titulo2 {
    width: 1550px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    bottom: 250px;
    right: 245px;
    overflow: hidden;
}

div#titulo2 ul {
    width: 14000px;
    height: 75px;
    list-style: none;
    text-align: center;
    position: relative;
    
}

div#titulo2 li {
    width: 1550px;
    height: 75px;
    text-align: center;
    float: left;
    position: relative;
    top: 10px;
}


div#t1 {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    text-align: center;;
    font-family: Aspex;
    font-size: 25px;
    font-weight: 600;
    line-height: 50px;
    position: relative;
    top: 80px;
}

div#body {
    width: 100%;
    height: 1400px;
    background: -webkit-radial-gradient(#000000 -100%, #ffffff 100%);
    position: relative;
    z-index: 0;
}

div#header1 {
    width: 30%;
    height: 140px;
    font-family: Morningtype;
    font-size: 50px;
    letter-spacing: 10px;
    position: relative;
    top: 100px;
    left: 100px;
    z-index: 5;
}

div#footer {
    width: 100%;
    height: 250px;
    background-color: #3b3b3b;
}

div#contacto {
    width: 25%;
    height: 200px;
    float: left;
    margin-right: 50px;
    position: relative;
    left: 26px;
    top: 25px;
    position: relative;
    top: 25px;
    left: 100px;
}

div.titulo {
    color: white;
    font-family: rabbid;
    font-size: 25px;
    letter-spacing: 3px;
    position: relative;
    top: 40px;
}

div.texto {
    color: white;
    font-family: morningtype;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    top: 60px;
    
}

div#encuentrame {
    width: 30%;
    height: 200px;
    float: left;
    margin-right: 50px;
    position: relative;
    left: 26px;
    top: 25px;
    position: relative;
    top: 25px;
    left: 100px;
    text-align: center;
}

div#logos {
    width: 70%;
    height: 200px;
}

div#logos ul {
    width: 100%;
    height: 70px;
    position: relative;
    top: 60px;
    left: 80px;
    list-style: none;
}

div#logos ul li{
    width: 20%;
    height: 60px;
    float: left;
    margin-right: 10px;
    border-radius: 40px;
    
}

div#logos ul li:hover {
    position: relative;
    top: 3px;
}

div#info {
    width: 25%;
    height: 200px;
    float: left;
    margin-right: 50px;
    position: relative;
    left: 26px;
    top: 25px;
    position: relative;
    top: 25px;
    left: 100px;
    text-align: right;
}

div#informacion {
    width: 100%;
    height: 200px;
    background-color: #E9004E;
    
    
}

div#texto2 {
    width: 75%;
    height: 180px;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

div#text1 {
    color: black;
    font-family: Rabbid;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 20px;
}

div#text2 {
    color: black;
    font-family: Aspex;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 50px;
}

div#texto2 span.garantizado {
    color: #3b3b3b;
    font-weight: bolder;
}

