@font-face {
    font-family: morningtype;
    src: url('../fonts/morningtype.ttf');
}

@font-face {
    font-family: heavitas;
    src: url('../fonts/Heavitas.ttf');
}

@font-face {
    font-family: rabbid;
    src: url('../fonts/RabbidHighwaySignII.otf');
}

@font-face {
    font-family: Aspex;
    src: url('../fonts/Aspex.ttf');
}

@font-face {
    font-family: Vulpes;
    src: url('../fonts/Vulpes.ttf');
}
