* {
    padding: 0px;
    margin: 0px;
}

/* **************** Partimos de una pantalla con resolución de 1600px*900px, asi que para que se vea bien en una pantalla de 1280px*720px deberas reducir el zoom a un 75% aproximandamento********* */

body {
background: 
        linear-gradient(#2E2E2E, #FFFFFF);
    background-repeat: no-repeat;
}

div#container {
    width: 95%;
    height: 770px;
    margin: 0 auto;
}

div#video {
    width: 100%;
    height: 799px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    overflow:hidden;
}

video#bg {
    width: 100%;
    height: 799px;
}

div#headerindex {
    width: 100%;
    height: 250px
}

div#logo {
    width: 30%;
    height: 250px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    float: left;
    left: 20px;
    top: -30px;
}

div#titulo {
    width: 40%;
    height: 50px;
    font-family: morningtype;
    font-size: 45px;
    position: relative;
    top: 80px;
    left: 210px; 
    
}
div#titulo2 {
    width: 40%;
    height: 60px;
    font-size: 70px;
    font-weight: 800;
    font-family: morningtype;
    position: relative;
    top: 60px;
    left: 210px; 
    text-shadow: 5px 5px 50px #FFFFFF, -5px -5px 50px #FFFFFF;
}

div#t3 {
    width: 70%;
    height: 30px;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 4px;
    position: relative;
    top: auto;
    top: 185px;
    left: -400px;
    
}

div#menu ul{
    float: right;
    list-style: none;
    width: 50%;
    height: 40px;
    position: relative;
    top: 125px;
    text-align: center;
}

div#menu ul li {
    width: 22%;
    margin-right: 10px;
    height: 40px;
    float: left;
    font-family: Heavitas;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
}

div#menu ul li a {
    width: 100%;
    height: 30px;
    font-family: Heavitas;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    display: block;
    padding-top: 10px;
    border-radius: 20px;
    -webkit-transition: background:gradient 1s;
}

div#menu ul li a:hover {
  background: rgba(233,0,78,1);
background: -moz-linear-gradient(top, rgba(233,0,78,1) 0%, rgba(233,0,78,1) 53%, rgba(230,62,121,1) 71%, rgba(255,102,156,1) 82%, rgba(247,163,194,1) 97%, rgba(247,163,194,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(233,0,78,1)), color-stop(53%, rgba(233,0,78,1)), color-stop(71%, rgba(230,62,121,1)), color-stop(82%, rgba(255,102,156,1)), color-stop(97%, rgba(247,163,194,1)), color-stop(100%, rgba(247,163,194,1)));
background: -webkit-linear-gradient(top, rgba(233,0,78,1) 0%, rgba(233,0,78,1) 53%, rgba(230,62,121,1) 71%, rgba(255,102,156,1) 82%, rgba(247,163,194,1) 97%, rgba(247,163,194,1) 100%);
background: -o-linear-gradient(top, rgba(233,0,78,1) 0%, rgba(233,0,78,1) 53%, rgba(230,62,121,1) 71%, rgba(255,102,156,1) 82%, rgba(247,163,194,1) 97%, rgba(247,163,194,1) 100%);
background: -ms-linear-gradient(top, rgba(233,0,78,1) 0%, rgba(233,0,78,1) 53%, rgba(230,62,121,1) 71%, rgba(255,102,156,1) 82%, rgba(247,163,194,1) 97%, rgba(247,163,194,1) 100%);
background: linear-gradient(to bottom, rgba(233,0,78,1) 0%, rgba(233,0,78,1) 53%, rgba(230,62,121,1) 71%, rgba(255,102,156,1) 82%, rgba(247,163,194,1) 97%, rgba(247,163,194,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9004e', endColorstr='#f7a3c2', GradientType=0 );
}        
div#menu ul li a {
    text-decoration: none;
}

div#barra {
    width: 91%;
    height: 8px;
    position: relative;
    background-image: url(../img/barra.png);
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;
    top: 170px;
    left: 55px;
}

div#cuerpo {
    width: 100%;
    height: 525px;
}

div#t4 {
    width: 90%;
    height: 130px;
    font-size: 100px;
    font-family: Heavitas;
    letter-spacing: 4px;
    position: relative;
    left: 60px; 
}

div#t4 span.h1 {
    text-shadow: 10px 10px 70px #000000;
}    

div#so ul {
    width: 100%;
    height: 330px;
    margin: 0 auto;
    list-style-type: none;
    position: relative;
    left: 40px
}

div#so ul#so li{
    width: 25%;
    height: 300px;
    position: relative;
    float: left;
    margin-left: 100px;
    top:10px;
    -webkit-transition: transform 0.2s;
}
div#so ul#so li:hover {
    -webkit-transform: scale(1.2);
    -webkit-cue:url("../video/Maid%20with%20the%20Flaxen%20Hair.mp3");
}

div#barras ul {
    width: 95%;
    height: 15px;
    list-style-type: none;
}

div#barras ul li{
    width: 25%;
    height: 20px;
    background-image: url(../img/anipowerbar.gif);
    background-repeat: no-repeat;
    position: relative;
    float: left;
    margin: 0 auto;
    margin-left: 100px;
    top: 0px;
    right: -30px;
}
