div#header1 {
    width: 80%;
    height: 100px;
    background-color: black;
    border-radius: 50px;
    position: absolute;
    top: 250px;
    left: 150px;
    float: left;
    
}

div#titulo {
    font-size: 20px;
    color: white;
    top: 20px;
    left: 50px;
    float: left;
    position: relative;;
}

div#foto {
    background-image: url(../img/gatito_sentado_large.png);
    width: 30%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    bottom: 220px;
    right: -20px;
    float: right;
}

div#contenido {
    width: 74%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    top: 400px;
    
}

div#contenido p span {
    text-align: justify;
    font-family: Aspex;
    font-weight: bolder;
    letter-spacing: 4px;
    line-height: 40px;
}