* {
    margin: 0;
    padding: 0;
}
body {
    height: 500px;
    background-color: bisque; 
}

div#titulo {
    width: 20%;
    height: 100px;
    position: relative;
    top: 100px;
    background-color: red;
    overflow: hidden;
    
}

div#titulo ul {
    width: 1600px;
    height: 100px;
    text-decoration: none;
    text-align: center;
    background-color: aqua;
    position: relative;
    right: 60px;
    
    
}

div#titulo li {
    width: 400px;
    height: 100px;
    font-size: 40px;
    float: left;
    background-color: blue;
    

}
