

div#contenido {
    width: 95%;
    height: 1500px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    
}

div#caja1 {
    width: 100%;
    height: 500px;
}

div#c1 {
    width: 25%;
    height: 400px;
    overflow: hidden;
    float: left;
    position: relative;
    top: 45px;
    left: 150px;
    margin-right: 50px;
    background-image: url(../img/dispositvos2.jpg);;
    background-repeat: no-repeat;
    background-size: 400px;
    -webkit-transition: background 0.5s ease-out;
    
}

div#c1:hover {
    background-size: 475px;
}

div.sombra {
    float: left;
    position: relative;
    margin-top: -400px;
    overflow: hidden;
    width: 100%;
    height: 400px;
    background-color: rgba(31, 31, 31, 0.9);
    -webkit-transition: margin 0.35s ease-in-out;
    
}

div#c1:hover div.sombra {
    margin-top: 0px;
}

div#ver {
    width: 45%;
    height: 30px;
    margin: 0 auto;
    margin-top: 100px;
    border: 7px solid white;
    position: relative;
    top: 300px;
    color: white;
    font-family: heavitas;
    font-size: 25px;
    padding: 10px;  
    -webkit-transition: margin 0.25s ease-out;
}

div#c1:hover div#ver {
    margin-top: 0px;
    
}

p.texto {
    position: absolute;
    margin-left: 50px;
}

div#c2 {
    width: 25%;
    height: 400px;
    overflow: hidden;
    float: left;
    position: relative;
    top: 45px;
    left: 150px;
    margin-right: 50px;
    background-image: url(../img/redes.jpg);;
    background-repeat: no-repeat;
    background-size: 400px;
    -webkit-transition: background 0.5s ease-out;
    
}

div#c2:hover {
    background-size: 475px;
}

div#c2:hover div.sombra {
    margin-top: 0px;
}

div#c2:hover div#ver {
    margin-top: 0px;
    
}

div#c3 {
    width: 25%;
    height: 400px;
    overflow: hidden;
    float: left;
    position: relative;
    top: 45px;
    left: 150px;
    margin-right: 50px;
    background-image: url(../img/servicios.jpg);
    background-repeat: no-repeat;
    background-size: 400px;
    -webkit-transition: background 0.5s ease-out;
    
}

div#c3:hover {
    background-size: 475px;
}

div#c3:hover div.sombra {
    margin-top: 0px;
}

div#c3:hover div#ver {
    margin-top: 0px;
    
}

div#caja2 {
    width: 100%;
    height: 500px;
}

div#c4 {
    width: 25%;
    height: 400px;
    overflow: hidden;
    float: left;
    position: relative;
    top: 45px;
    left: 150px;
    margin-right: 50px;
    background-image: url(../img/montaje.jpg);
    background-repeat: no-repeat;
    background-size: 400px;
    -webkit-transition: background 0.5s ease-out;
    
}

div#c4:hover {
    background-size: 475px;
}

div#c4:hover div.sombra {
    margin-top: 0px;
}

div#c4:hover div#ver {
    margin-top: 0px;
    
}

div#c5 {
    width: 25%;
    height: 400px;
    overflow: hidden;
    float: left;
    position: relative;
    top: 45px;
    left: 150px;
    margin-right: 50px;
    background-image: url(../img/programacion.jpg);;
    background-repeat: no-repeat;
    background-size: 400px;
    -webkit-transition: background 0.5s ease-out;
    
}

div#c5:hover {
    background-size: 475px;
}

div#c5:hover div.sombra {
    margin-top: 0px;
}

div#c5:hover div#ver {
    margin-top: 0px;
    
}

div#c6 {
    width: 25%;
    height: 400px;
    overflow: hidden;
    float: left;
    position: relative;
    top: 45px;
    left: 150px;
    margin-right: 50px;
    background-image: url(../img/so.jpg);
    background-repeat: no-repeat;
    background-size: 400px;
    -webkit-transition: background 0.5s ease-out;
    
}

div#c6:hover {
    background-size: 475px;
}

div#c6:hover div.sombra {
    margin-top: 0px;
}

div#c6:hover div#ver {
    margin-top: 0px;
    
}

